.bg-primary {
    background-color: #62165C !important;
};
.btn-primary {
    background-color: #fd0095 !important;
    border-color: #62165C;
    color: white;
    border-radius: 0;
}
.btn {
    border-radius: 0;
}

/* Brand Colours */