.bg-primary {
    background-color: #DC202E !important;
};
.btn-primary {
    background-color: #0071B3 !important;
    border-color: #E1E1E1;
    color: white;
    border-radius: 0;
}
.btn {
    border-radius: 0;
}

/* Brand Colours */